<!DOCTYPE html>
<html>
	<head>
		<title>EID UGANDA</title>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../includes/jquery.autocomplete.css" />
		<link rel="stylesheet" type="text/css" href="../style.css" media="screen" />

		<script type="text/javascript" src="../includes/jquery.min.js"></script>
		<script type="text/javascript" src="../includes/jquery.js"></script>
		<script type='text/javascript' src='../includes/jquery.autocomplete.js'></script>
		<script type="text/javascript" src="reflection.js"></script> 

	</head>
<body>

<div id="site-wrapper">
	

	<form  method="post" action="downloadworksheet.php?ID=14212" name="worksheetform" target="_blank" >

	<table border="0" class="data-table" cellspacing="4">

<!-- start header  -->
		<tr class="even" style='background: #dddddd;'>
			<td class="comment style1 style4">Worksheet / Template No</td>
			<td><span class="style5">14212</span></td>
		</tr>

		<tr class="even" style='background:#dddddd;'>
			<td class="comment style1 style4">Worklist Run Batch No</td>
			<td class="comment">
				<span class="style5">20150106ms14212</span>
			</td>
			<td class="comment style1 style4">Date Created </td>
			<td class="comment" >06-Jan-2015</td>
			<td >HIQCAP Kit Lot No</td>
		  	<td>T00183</td>	
		</tr>
				
		<tr class="even" style='background:#dddddd;'>
			
			<td class="comment style1 style4">Created By</td>
			<td>Technician, Lab		</td>
			<td class="comment style1 style4">Spex Kit No</td>
			<td colspan="">S05791</td>
			<td class="comment style1 style4">KIT EXP</td>
			<td>30-Apr-2015</td>
		</tr>
			
		<tr style='background:#dddddd;'>
			<tr class="even"><td colspan="6">&nbsp;</td>
		</tr>

<!-- end header -->

		<tr style='background:#dddddd;'>

<!-- start control samples: neg/pos -->

            <td height="50" bgcolor="#dddddd" class="comment style1 style4"> 
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
	 				<small>1</small>
	 			</div>
	 			<div align='center' style="margin-top: 2.5em; margin-bottom: 2.5em">
	 				Negative Control<br>
	 				<strong>NC</strong>
	 			</div> 

	 		</td>             

	 		<td bgcolor="#dddddd" class="comment style1 style4">
		 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>2</small>
		 			</div>
	 				<div align='center' style="margin-top: 2.5em; margin-bottom: 2.5em">
	 					Positive Control<br>
	 					<strong>PC</strong>
	 				</div> 
	 			</td>		   

<!-- end control samples  -->

<!-- start sample -->
		<td width='178px' bgcolor="#dddddd">
 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
 				<small>3</small>
 			</div>

			<div align="center">
				<font size="-4"> Envelope no:   222135</font><br>  
				<font size="-4"> Patient ID:   20150102019</font><br>  
				<font size="-4"> Batch no:   2015-01-02</font> <br> 
				<font size="-4"> Lab no: 0462<strong> - </strong></font>  <br>
				<img src='barcode.jpg'>
			</div>
		</td>
<!-- end sample -->
     
    			<td width='178px' bgcolor="#dddddd">
		 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>4</small>
		 			</div>
	 
					<div align="center">
						<font size="-4"> Envelope no:   222135</font><br>
						<font size="-4"> Patient ID:   20150102019</font><br>  
						<font size="-4"> Batch no:   2015-01-02</font> <br> 
						<font size="-4"> Lab no: 0463<strong> - </strong></font>  <br>
						<img src='barcode.jpg'>
					</div>
				
				</td>
		 
	

  
     
     <td width='178px' bgcolor="#dddddd">
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>5</small>
		 			</div>
	 
		 <div align="center">
		 <font size="-4"> Envelope no:   222135</font><br>  
		 <font size="-4"> Patient ID:   20150102019</font><br>  
		 <font size="-4"> Batch no:   2015-01-02</font> <br> 
		 <font size="-4"> Lab no: 0282<strong> - </strong></font>  <br>
		 <img src='barcode.jpg'>
		 </div>
	</td>
		 
	

  
     
    <td width='178px' bgcolor="#dddddd">
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>6</small>
		 			</div>
		 
		<div align="center">
			<font size="-4"> Envelope no:   222135</font><br>  
			<font size="-4"> Patient ID:   20150102019</font><br>  
			<font size="-4"> Batch no:   2015-01-02</font> <br> 
			<font size="-4"> Lab no: 0464<strong> - </strong></font>  <br>
			<img src='barcode.jpg'>
		</div>
	</td>

</tr>

		<tr style='background:#dddddd;'>
     <td width='178px' bgcolor="#dddddd">
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>7</small>
		 			</div>
	 
		 <div align="center">
		 <font size="-4"> Envelope no:   222135</font><br>  
		 <font size="-4"> Patient ID:   20150102019</font><br>  
		 <font size="-4"> Batch no:   2015-01-02</font> <br> 
		 <font size="-4"> Lab no: 0282<strong> - </strong></font>  <br>
		 <img src='barcode.jpg'>
		 </div>
	</td>

     <td width='178px' bgcolor="#dddddd">
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>8</small>
		 			</div>
	 
		 <div align="center">
		 <font size="-4"> Envelope no:   222135</font><br>  
		 <font size="-4"> Patient ID:   20150102019</font><br>  
		 <font size="-4"> Batch no:   2015-01-02</font> <br> 
		 <font size="-4"> Lab no: 0282<strong> - </strong></font>  <br>
		 <img src='barcode.jpg'>
		 </div>
	</td>

     
     			<td width='178px' bgcolor="#dddddd">
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>9</small>
		 			</div>
	 
					<div align="center">
						<font size="-4"> Envelope no:   222135</font><br>  
						<font size="-4"> Patient ID:   20150102019</font><br>  
						<font size="-4"> Batch no:   2015-01-02</font> <br> 
						<font size="-4"> Lab no: 0462<strong> - </strong></font>  <br>
						<img src='barcode.jpg'>
					</div>
				</td>

     
    			<td width='178px' bgcolor="#dddddd">
					<div align="right">
	 					<table>
	 						<tr>
	 							<td class="comment style1 style4"><small>9</small></td>
	 						</tr>
	 					</table>
	 				</div>
	 
					<div align="center">
						<font size="-4"> Envelope no:   222135</font><br>
						<font size="-4"> Patient ID:   20150102019</font><br>  
						<font size="-4"> Batch no:   2015-01-02</font> <br> 
						<font size="-4"> Lab no: 0463<strong> - </strong></font>  <br>
						<img src='barcode.jpg'>
					</div>
				
				</td>
		 
	

  
     
     <td width='178px' bgcolor="#dddddd">
	 			<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
		 				<small>10</small>
		 			</div>
	 
		 <div align="center">
		 <font size="-4"> Envelope no:   222135</font><br>  
		 <font size="-4"> Patient ID:   20150102019</font><br>  
		 <font size="-4"> Batch no:   2015-01-02</font> <br> 
		 <font size="-4"> Lab no: 0282<strong> - </strong></font>  <br>
		 <img src='barcode.jpg'>
		 </div>
	</td>
		 
	

  
     
    <td width='178px' bgcolor="#dddddd">
		<div align='right' style="margin: 0.1em;  padding-right:0.5em;">
			<small>12</small>
		</div>
		 
		<div align="center">
			<font size="-4"> Envelope no:   222135</font><br>  
			<font size="-4"> Patient ID:   20150102019</font><br>  
			<font size="-4"> Batch no:   2015-01-02</font> <br> 
			<font size="-4"> Lab no: 0464<strong> - </strong></font>  <br>
			<img src='barcode.jpg'>
		</div>
	</td>

</tr>


<tr>
	<td  colspan="6" bgcolor="#00526C" >
		<center>
			<input type="submit" name="SaveWorksheet" value="Print Worksheet" class="button"  />
        </center>
	</td>
</tr>


</table>
	</form>
